services:
  mongo:
    image: mongo:6.0
    container_name: care-mongo
    ports:
      - "27017:27017"
    networks:
      - care-network
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: care-backend
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    networks:
      - care-network
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: care-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - care-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - care-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - care-network

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - care-network

networks:
  care-network:
    driver: bridge

volumes:
  mongo-data:
