.header {
  width: 100%;
  background-color: #6B6A6A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
  box-sizing: border-box;
  height: 100px;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 100;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  height: 85px;
  width: auto;
  object-fit: contain;
  padding-left: 20px;
}

.app-title {
  font-size: 1.4rem;
  font-weight: 600;
}

.header-right {
  display: flex;
  align-items: center;
}

.user-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFDE59;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-right: 4px;
}

.username {
  font-weight: 500;
  font-size: 14px;
}

.logout-btn {
  background-color: #4A90E2;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); 
  transition: all 0.2s ease; 
}

.logout-btn:hover {
  background-color: #171717;
  border: 1px solid #f5f5f5;
}
